
#define	INCL_WINSYS
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "text3d.h"

DLGTEMPLATE DLG_CTRLUSER 850
BEGIN
    DIALOG "3D Text Styles", DLG_CTRLUSER, 20, 58, 295,	116, FS_NOBYTEALIGN |
		FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE,
		FCF_TITLEBAR | FCF_SYSMENU
    PRESPARAMS PP_FONTNAMESIZE,	"8.Helv"
    BEGIN
	CONTROL	"Select style and type text and ID symbol.", -1,
					5, 100,	123, 8,	WC_STATIC, SS_TEXT |
					    WS_GROUP | WS_VISIBLE
		PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
	CONTROL	"Text:",	       -1, 5, 87, 16, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       EF_TEXT,	25, 60,	195, 36, WC_MLE,
					    MLS_BORDER | MLS_HSCROLL |
					    MLS_IGNORETAB | MLS_VSCROLL	|
					    MLS_DISABLEUNDO | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"ID:",		       -1, 6, 50, 16, 8, WC_STATIC, SS_TEXT |
					    DT_RIGHT | DT_VCENTER | WS_VISIBLE
	CONTROL	"",		       IDBX_SYMBOLVALUE, 25, 50, 195, 8, "ID.Box",
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Text styles",	       -1, 5, 5, 165, 40, WC_STATIC,
					    SS_GROUPBOX	| WS_VISIBLE
	CONTROL	"~Left aligned",       RB_LEFTALIGNED, 8, 31, 45, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_GROUP |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"Hor~z. centered",     RB_HORZALIGNED, 8, 23, 54, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Right aligned",      RB_RIGHTALIGNED,	8, 15, 51, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Top alig~ned",	       RB_TOPALIGNED, 65, 31, 47, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_GROUP |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"~Vert. centered",     RB_VERTCENTERED,	65, 23,	52, 8,
					    WC_BUTTON, BS_AUTORADIOBUTTON |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"B~ottom aligned",     RB_BOTALIGNED, 65, 15, 55, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Word wrap",	       CB_WORDWRAP, 125, 31, 44, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_GROUP |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"~Halftone",	       CB_HALFTONE, 125, 23, 35, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Mnemonic",	       CB_MNEMONIC, 126, 15, 42, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"R~aised",	       RB_RAISED, 8, 7,	32, 8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_GROUP |
					    WS_TABSTOP | WS_VISIBLE
	CONTROL	"~Depressed",	       RB_DEPRESSED, 65, 7, 46,	8, WC_BUTTON,
					    BS_AUTORADIOBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Base styles",	       -1, 175,	5, 45, 40, WC_STATIC,
					    SS_GROUPBOX	| WS_GROUP | WS_VISIBLE
	CONTROL	"~Visible",	       CB_VISIBLE, 178,	31, 31,	8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Group",	       CB_GROUP, 178, 23, 29, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Disabled",	       CB_DISABLED, 178, 15, 38, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"~Tab stop",	       CB_TABSTOP, 178,	7, 38, 8, WC_BUTTON,
					    BS_AUTOCHECKBOX | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Enter",	       DID_OK, 228, 94,	60, 12,	WC_BUTTON,
					    BS_PUSHBUTTON | BS_DEFAULT |
					    WS_GROUP | WS_TABSTOP | WS_VISIBLE
	CONTROL	"Cancel",	       DID_CANCEL, 228,	81, 60,	12, WC_BUTTON,
					    BS_PUSHBUTTON | WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Help",		       DID_HELP, 228, 68, 60, 12, WC_BUTTON,
					    BS_PUSHBUTTON | BS_HELP |
					    BS_NOPOINTERFOCUS |	WS_TABSTOP |
					    WS_VISIBLE
	CONTROL	"Font & colours...",   DID_PRESPARAM, 228, 55, 60, 12,
					    WC_BUTTON, BS_PUSHBUTTON |
					    WS_TABSTOP | WS_VISIBLE
    END
END

CODEPAGE 850
STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
    IDS_SS_TEXT,			"SS_TEXT"
    IDS_DT_LEFT,			"DT_LEFT"
    IDS_DT_RIGHT,			"DT_RIGHT"
    IDS_DT_TOP,				"DT_TOP"
    IDS_DT_VCENTER,			"DT_VCENTER"
    IDS_DT_BOTTOM,			"DT_BOTTOM"
    IDS_DT_HALFTONE,			"DT_HALFTONE"
    IDS_DT_MNEMONIC,			"DT_MNEMONIC"
    IDS_DT_WORDBREAK,			"DT_WORDBREAK"
    IDS_VISIBLE,			"WS_VISIBLE"
    IDS_GROUP,				"WS_GROUP"
    IDS_DISABLED,			"WS_DISABLED"
    IDS_TABSTOP,			"WS_TABSTOP"
END
